/**
 * @file
 * CSS styles for lib hours - UT Austin modification
 *
 * @author Sean Watkins <slwatkins@uh.edu>
 * @copyright 2011 University of Houston Libraries (http://info.lib.uh.edu)
 */

* {
	color: black;
}
/* These selector stubs are only here in case they are needed so I don't have to track them down. Remove before final deploy */
#libhours-locations #libhours-location-list {}
#libhours-locations #libhours-location-list .libhours-location {}
#libhours-locations #libhours-location-list .libhours-location:hover {}
#libhours-locations #libhours-location-list .libhours-location.selected {}
#libhours-locations #libhours-location-list .libhours-location.selected:hover {}
#libhours-locations #libhours-location-list .libhours-location.libhours-child {}
#libhours-periods {}
#libhours-periods-tabs {}
#libhours-periods-tabs li {}
#libhours-periods-tabs li:hover {}
#libhours-periods-tabs li.selected {}
#libhours-periods-tabs li.selected:hover {}
#libhours-periods-tabs li .libhours-name {}
#libhours-periods-tabs li .libhours-daterange {}
#libhours-periods .libhours-view {}
#libhours-periods .libhours-view.selected {}
#libhours-periods .libhours-stdhours {}
#libhours-periods .libhours-stdhours ul {}
#libhours-periods .libhours-stdhours .libhours-name {}
#libhours-periods .libhours-stdhours .libhours-name p.libhours-location-name {}
#libhours-periods .libhours-stdhours .libhours-name p.libhours-location-childname {}
#libhours-periods .libhours-stdhours .libhours-name p.libhours-period-name {}
#libhours-periods .libhours-stdhours .libhours-hour {}
#libhours-periods .libhours-stdhours .libhours-hour .libhours-dow {}
#libhours-periods .libhours-stdhours .libhours-hour .libhours-time {}
#libhours-periods .libhours-exceptions {}
#libhours-periods .libhours-exceptions .libhours-name {}
#libhours-periods .libhours-exceptions .libhours-hour {}
#libhours-periods .libhours-exceptions .libhours-hour ul {}
#libhours-periods .libhours-exceptions .libhours-hour .libhours-label {}
#libhours-periods .libhours-exceptions .libhours-hour .libhours-emergency span {}
#libhours-periods .libhours-exceptions .libhours-hour .libhours-time {}
#libhours-periods .libhours-locationdescription {}
#libhours-periods .libhours-disclaimer {}

#wordmarkblock,
#libwordblock,
#navcontainer,
#breadcrumb,
#footer {
	display: none;
}
#libhours-locations,
#libhours-periods-tabs li,
#libhours-periods-tabs div.libhours-name {
	display: none;
}
#contentbox {
	border: none;
}
#libhours-periods .libhours-view {
	border: none;
	border-radius: none;
	box-shadow: none;
	padding: 0;
}
#libhours-periods .libhours-stdhours,
#libhours-periods .libhours-exceptions {
	float: none;
	min-height: none;
}
#libhours-periods .libhours-exceptions {
	border: 1px black solid;
}
#libhours-periods .libhours-stdhours .libhours-name {
	padding: 0;
}
#libhours-periods-tabs {

}
#libhours-periods-tabs li {
	background: none;
	text-shadow: none;
	border: none;
	box-shadow: none;	
}
#libhours-periods-name.libhours-date-range {
	display: block;
}
p.libhours-period-name.libhours-daterange {
	display: block;
}
#libhours-exceptions {
	display: block;
}