@media print {
* {
	color: black;
}
html {

}
body {
	font-size: 28px;
	padding: 0;
	margin: 0;
}
#wordmarkblock,
#libwordblock,
#navcontainer,
#breadcrumb,
#head,
#footer {
	display: none;
}
#libhours-locations,
#libhours-periods-tabs li,
#libhours-periods-tabs div.libhours-name,
div#libhours-periods .libhours-view.deselected {
	display: none;
}
#contentbox {
	border: none;
}
div#libhours-content ul {
	line-height: 1.4em;
	margin: 20px 0;
}
#libhours-content ul li {
	list-style-type: none;
	margin-left: -1em;
}
#libhours-content ul li.libhours-time {
	margin-left: 0;
}
#libhours-periods {
	width: 26em;
	font-size: 2.2em;
}
#libhours-periods .libhours-view {
	border: none;
	border-radius: none;
	box-shadow: none;
	padding: 0;
}
#libhours-periods .libhours-stdhours,
#libhours-periods .libhours-exceptions {
	float: none;
	min-height: none;
	clear: both;
}
#libhours-periods .libhours-exceptions {
	border: 1px black solid;
	padding: 0;
}
#libhours-periods .libhours-stdhours .libhours-name {
	padding: 0;
	line-height: .5em;
}
#libhours-periods .libhours-stdhours .libhours-location-name {
  width: 32em;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 0;
}
#libhours-periods .libhours-exceptions .libhours-name {
	padding: 15px 10px;
	line-height: .5em;
	border-bottom: 1px black solid;
	font-weight: bold;
}
#libhours-periods-tabs {

}
#libhours-periods-tabs li {
	background: none;
	text-shadow: none;
	border: none;
	box-shadow: none;	
}
#libhours-periods-name.libhours-date-range {
	display: block;
}
p.libhours-period-name.libhours-daterange {
	display: block;
}
#libhours-periods .libhours-stdhours .libhours-hour .libhours-dow,
#libhours-periods .libhours-stdhours .libhours-hour .libhours-time {
	display: inline;
}
#libhours-periods .libhours-stdhours .libhours-hour .libhours-time {
	position: absolute;
	left: 10em;
}
#libhours-exceptions {
	display: block;
}
}